<a href="https://colab.research.google.com/github/ramkumar997/Data_Science/blob/main/Pandas/Pandas-4_IMDB_contd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://colab.research.google.com/drive/1uCiNxOIviMlaqGX3-5SjCnBqSUHCvgDm?usp=sharing

In [ ]:
import pandas as pd
import numpy as np
!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
movies = pd.read_csv('movies.csv', index_col=0)
directors = pd.read_csv('directors.csv',index_col=0)
data = movies.merge(directors, how='left', left_on='director_id',right_on='id')
data.drop(['director_id','id_y'],axis=1,inplace=True)

Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 74.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 55.6MB/s]

In [ ]:
# find the count of the movies directed by "Christopher Nolan"?
data.loc[data["director_name"] == "Christopher Nolan", "title"].count()

8

In [ ]:
data.loc[data["director_name"] == "Christopher Nolan"].count() # the count is running along axis=0 by default

id_x             8
budget           8
popularity       8
revenue          8
title            8
vote_average     8
vote_count       8
year             8
month            8
day              8
director_name    8
gender           8
dtype: int64

In [ ]:
# find the count of movies directed by each director
data["director_name"].value_counts()

Steven Spielberg      26
Martin Scorsese       19
Clint Eastwood        19
Woody Allen           18
Ridley Scott          16
                      ..
Tim Hill               5
Jonathan Liebesman     5
Roman Polanski         5
Larry Charles          5
Nicole Holofcener      5
Name: director_name, Length: 199, dtype: int64

#### Groupby Aggregation

In [ ]:
# SELECT director_name, COUNT(*) TITLE
# FROM DATA
# GROUP BY director_name

In [ ]:
data.groupby("director_name")

In [ ]:
data.groupby("director_name").ngroups

199

In [ ]:
data.groupby("director_name").groups

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro González Iñárritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

In [ ]:
data.groupby("director_name").get_group("Kevin Reynolds")

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
53,43672,175000000,44,264218220,Waterworld,5.9,992,1995,Jul,Friday,Kevin Reynolds,NaN
502,44498,48000000,28,390493908,Robin Hood: Prince of Thieves,6.6,909,1991,Jun,Friday,Kevin Reynolds,NaN
639,44790,35000000,26,75395048,The Count of Monte Cristo,7.3,453,2002,Jan,Wednesday,Kevin Reynolds,NaN
1019,45739,20000000,16,46069568,Risen,5.7,295,2016,Feb,Friday,Kevin Reynolds,NaN
1059,45858,20000000,3,305070,Rapa Nui,6.2,33,1994,Sep,Friday,Kevin Reynolds,NaN

In [ ]:
# Group by Aggregation
# find the count of movies directed by each director
data.groupby("director_name")["title"].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [ ]:
# Group by and finding multiple Aggregation
# For every director, find their first and last workiing year?
# groupby --> director_name
# year ---> aggregates min and max
data.groupby("director_name")["year"].aggregate(["min", "max"])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [ ]:
data.groupby("director_name")["year"].aggregate(["min", "max"]).reset_index()

                   director_name   min   max
0                     Adam McKay  2004  2015
1                  Adam Shankman  2001  2012
2    Alejandro González Iñárritu  2000  2015
3                    Alex Proyas  1994  2016
4                Alexander Payne  1999  2013
..                           ...   ...   ...
194                   Wes Craven  1984  2011
195            Wolfgang Petersen  1981  2006
196                  Woody Allen  1977  2013
197                  Zack Snyder  2004  2016
198                  Zhang Yimou  2002  2014

[199 rows x 3 columns]

In [ ]:
# data.groupby("director_name").aggregate({"year": ["min", "max"], "title":"count"})

### Group based fiiltering

In [ ]:
# WHERE - filters the rows before grouping
# HAVING - filter the group based rows that are created, filter after the group
# Want to filter the rows of the entire group(s) but from the original data, not the grouped data

In [ ]:
# Find the rows (movies) which are directed by high budget director (>$ 100M)

# Ques1. Filter the high budget movies - budget > $100
# Ques2. Filter the movies which are directed by high budget directors

In [ ]:
# Ques1. Filter the high budget movies - budget > $100
data.loc[data["budget"] > 100000000] # simple row level filtering, WHERE

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
185,43897,105000000,58,121214377,Starship Troopers,6.7,1560,1997,Nov,Thursday,Paul Verhoeven,Male
186,43898,102000000,73,130482868,Cloud Atlas,6.6,2977,2012,Oct,Friday,Tom Tykwer,Male
201,43929,115000000,41,274703340,Lara Croft: Tomb Raider,5.7,2192,2001,Jun,Monday,Simon West,Male
290,44088,130000000,50,117831631,Pompeii,5.2,1267,2014,Feb,Tuesday,Paul W.S. Anderson,Male
328,44162,150000000,47,919838758,Shrek 2,6.7,2988,2004,May,Wednesday,Andrew Adamson,Male

In [ ]:
# Ques2. Filter the movies which are directed by high budget directors
# High Budget Directors - Directors who have directed at least one >100M budgetted movie
# XYZ - M1, M2, M3
# M1 = 30M
# M2 = 101M
# M3 = 80M
# Notice: We are either allowing or not allowing all the rows of a particular gropup based on a group level property

In [ ]:
def add_10(a):
  a = a + 10
  return a

In [ ]:
add_10(12)

22

In [ ]:
add_10(6)

16

In [ ]:
add_10 = lambda a: a+10

In [ ]:
add_10(6)

16

In [ ]:
y = lambda a,b : a*b
print(y(5,6))

30

In [ ]:
x = lambda a,b,c : a+b+c
print(x(3,4,5))

12

In [ ]:
# group based filtrerinmg - filter the rows of original (not grouped data) based on group level properties
data.groupby("director_name").filter(lambda x: x["budget"].max() >= 100000000)
# x --> dataframe corresponding to one of the groups
# x["budget"].max() calculating the budget of most expensive movie of a pariticular group/director

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,Male
1451,48268,200000,13,4505922,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,Male
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,Male
1458,48335,60000,27,3221152,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,Male
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male

In [ ]:
data.loc[data["director_name"] == "Martin Scorsese", "budget"] > 100000000

47       True
150      True
183     False
191     False
211     False
263     False
497     False
708     False
750     False
770     False
863     False
917     False
1081    False
1176    False
1245    False
1307    False
1427    False
1429    False
1460    False
Name: budget, dtype: bool

### Group based apply

Risky Movies (for a director) - Expected Budget of this movies is > average revenue from the director's other movies

In [ ]:
def func(x):
  x["risky"] = x["budget"] - x["revenue"].mean() >= 0
  return x

data_risky = data.groupby("director_name").apply(func)
data_risky
# transform - similar to apply functiomn

<ipython-input-27-35fb1d0a1f0a>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  data_risky = data.groupby("director_name").apply(func)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,risky
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,False
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,False
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,False
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,False
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,False
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,False
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,False
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,False
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,False

### Multi-indexing

In [ ]:
# Find who is the most productive director?
# No of movies directed
# Quality
# Business - profit

# simplyfy --> lets define the productivity based on number of movies

In [ ]:
data.groupby(['director_name'])['title'].count().sort_values(ascending=False)

director_name
Steven Spielberg    26
Clint Eastwood      19
Martin Scorsese     19
Woody Allen         18
Robert Rodriguez    16
                    ..
Paul Weitz           5
John Madden          5
Paul Verhoeven       5
John Whitesell       5
Kevin Reynolds       5
Name: title, Length: 199, dtype: int64

In [ ]:
# Number of movies/ Number of Active Year (max_year- min_year)
data_agg = data.groupby(["director_name"])[["title", "year"]].aggregate({"title": "count",
                                                              "year":["min", "max"]})
data_agg

                            title  year
                            count   min   max
director_name
Adam McKay                      6  2004  2015
Adam Shankman                   8  2001  2012
Alejandro González Iñárritu     6  2000  2015
Alex Proyas                     5  1994  2016
Alexander Payne                 5  1999  2013
...                           ...   ...   ...
Wes Craven                     10  1984  2011
Wolfgang Petersen               7  1981  2006
Woody Allen                    18  1977  2013
Zack Snyder                     7  2004  2016
Zhang Yimou                     6  2002  2014

[199 rows x 3 columns]

In [ ]:
data_agg.columns

MultiIndex([('title', 'count'),
            ( 'year',   'min'),
            ( 'year',   'max')],
           )

In [ ]:
data_agg["title"]

                             count
director_name
Adam McKay                       6
Adam Shankman                    8
Alejandro González Iñárritu      6
Alex Proyas                      5
Alexander Payne                  5
...                            ...
Wes Craven                      10
Wolfgang Petersen                7
Woody Allen                     18
Zack Snyder                      7
Zhang Yimou                      6

[199 rows x 1 columns]

In [ ]:
data_agg["title"]["count"]

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: count, Length: 199, dtype: int64

In [ ]:
data_agg["year"]["min"]

director_name
Adam McKay                     2004
Adam Shankman                  2001
Alejandro González Iñárritu    2000
Alex Proyas                    1994
Alexander Payne                1999
                               ...
Wes Craven                     1984
Wolfgang Petersen              1981
Woody Allen                    1977
Zack Snyder                    2004
Zhang Yimou                    2002
Name: min, Length: 199, dtype: int64

In [ ]:
data_agg.columns = ['_'.join(col) for col in data_agg.columns]
data_agg

                             title_count  year_min  year_max
director_name
Adam McKay                             6      2004      2015
Adam Shankman                          8      2001      2012
Alejandro González Iñárritu            6      2000      2015
Alex Proyas                            5      1994      2016
Alexander Payne                        5      1999      2013
...                                  ...       ...       ...
Wes Craven                            10      1984      2011
Wolfgang Petersen                      7      1981      2006
Woody Allen                           18      1977      2013
Zack Snyder                            7      2004      2016
Zhang Yimou                            6      2002      2014

[199 rows x 3 columns]

In [ ]:
data_agg.reset_index()

                   director_name  title_count  year_min  year_max
0                     Adam McKay            6      2004      2015
1                  Adam Shankman            8      2001      2012
2    Alejandro González Iñárritu            6      2000      2015
3                    Alex Proyas            5      1994      2016
4                Alexander Payne            5      1999      2013
..                           ...          ...       ...       ...
194                   Wes Craven           10      1984      2011
195            Wolfgang Petersen            7      1981      2006
196                  Woody Allen           18      1977      2013
197                  Zack Snyder            7      2004      2016
198                  Zhang Yimou            6      2002      2014

[199 rows x 4 columns]

In [ ]:
data_agg["yrs_active"] = data_agg["year_max"] - data_agg["year_min"]

In [ ]:
data_agg

                             title_count  year_min  year_max  yrs_active
director_name
Adam McKay                             6      2004      2015          11
Adam Shankman                          8      2001      2012          11
Alejandro González Iñárritu            6      2000      2015          15
Alex Proyas                            5      1994      2016          22
Alexander Payne                        5      1999      2013          14
...                                  ...       ...       ...         ...
Wes Craven                            10      1984      2011          27
Wolfgang Petersen                      7      1981      2006          25
Woody Allen                           18      1977      2013          36
Zack Snyder                            7      2004      2016          12
Zhang Yimou                            6      2002      2014          12

[199 rows x 4 columns]

In [ ]:
data_agg["movie_per_yr"] = data_agg["title_count"] / data_agg["yrs_active"]
data_agg

,title_count,year_min,year_max,yrs_active,movie_per_yr
director_name,,,,,
Adam McKay,6,2004,2015,11,0.545455
Adam Shankman,8,2001,2012,11,0.727273
Alejandro González Iñárritu,6,2000,2015,15,0.400000
Alex Proyas,5,1994,2016,22,0.227273
Alexander Payne,5,1999,2013,14,0.357143
...,...,...,...,...,...
Wes Craven,10,1984,2011,27,0.370370
Wolfgang Petersen,7,1981,2006,25,0.280000
Woody Allen,18,1977,2013,36,0.500000
Zack Snyder,7,2004,2016,12,0.583333
Zhang Yimou,6,2002,2014,12,0.500000

In [ ]:
data_agg.sort_values("movie_per_yr", ascending=False)

                  title_count  year_min  year_max  yrs_active  movie_per_yr
director_name
Tyler Perry                 9      2006      2013           7      1.285714
Jason Friedberg             5      2006      2010           4      1.250000
Shawn Levy                 11      2002      2014          12      0.916667
Robert Rodriguez           16      1992      2014          22      0.727273
Adam Shankman               8      2001      2012          11      0.727273
...                       ...       ...       ...         ...           ...
Lawrence Kasdan             5      1985      2012          27      0.185185
Luc Besson                  5      1985      2014          29      0.172414
Robert Redford              5      1980      2010          30      0.166667
Sidney Lumet                5      1976      2006          30      0.166667
Michael Apted               5      1980      2010          30      0.166667

[199 rows x 5 columns]

In [ ]:
# NOTIFICATIONS
# Assignment Doubt class (Numpy+Pandas) ---> Tomorrow at 7AM
# 50-50%, I might be not available next and first half of next to next week - Turkey --> Nishcal

In [ ]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: /content/Pfizer_1.csv
100% 1.51k/1.51k [00:00<00:00, 4.94MB/s]